.light-theme{
    --primary-color: rgb(255, 255, 255);
    --background-color: rgb(255,255,255);
    --primary-theme-color: rgb(51, 144, 236);
    --online-status-color: rgb(51, 144, 236);
    --text-color: rgb(0, 0, 0);
    --text-color-secondary: rgb(112,117,121);
    --text-color-last-msg: rgb(170, 170, 170);
    --accent-color: rgb(0, 0, 0);
    --accent-color-secondary: rgb(244, 244, 244);
    --accent-background-color: rgb(217,245,206);
    --reply-message-text-color: rgb(69,175,84);
    --color-gray: rgb(113,117,121);
    --reply-message-text-color-input: rgb(69,175,84);
    --reply-message-color: rgba(69,175,84, 0.202);
    --border-colors: rgb(218,220,224);
    --color-chat-hover: rgb(185, 185, 185);
    --selected-chat-color: rgb(51, 144, 236);
    --chat-hover-color: rgb(244, 244, 245);
    --msg-bg-color-own: rgb(238, 255, 222);
    --msg-bg-color: rgb(240, 240, 240);
    --chat-bg-color: rgb(156, 192, 140);
    --border-color: rgb(145, 145, 145);
    --button-bg-color: rgb(255, 255, 255);
    --button-down-color: rgba(112, 117, 121, 0.75);
    --button-down-hover: rgb(255, 255, 255);
    --button-down-bg-hover: rgb(51, 144, 236);
    --button-send-color: rgb(0, 128, 255);
    --unread-status-bg-color: rgba(219, 219, 219, 0.8);
    --button-send-hover: rgb(255, 255, 255);
    --button-send-bg-hover: rgb(51, 144, 236);
    --button-menu-color-hover: rgb(0, 0, 0);
    --date-color: rgb(255, 255, 255);
    --date-bg-color: rgba(74, 142, 58, 0.549);
    --color-bg-compact-menu: rgba(255, 255, 255, 0.733);
    --color-icon-secondary: rgb(112, 117, 121);
    --menu-button-color: rgb(82, 82, 82);
    --input-bg-color: rgb(231, 231, 231);
    --link-color: rgb(49, 77, 168);
    --input-text-color: rgb(88, 88, 88);
    --color-error: #e53935;
    --color-error-shade: rgba(207, 3, 0, 0.0533);
    --color-shade: rgba(233, 233, 233, 0.433);
    --color-placeholders: rgb(112, 120, 126);
    --color-text-secondary: rgb(170, 170, 170);
    --color-composer-button: rgb(170,170,170,0.8);
    --icon-message-read-color: rgb(51, 144, 236);
    --file-container-color: rgb(212, 212, 212);
}