.back-icon {
  margin-left: 90%;
  font-size: 2em;
  padding: 5px;
  border-radius: 2px;
  transition: 0.1s ease-in;
  cursor: pointer;
  color: #2a2d30 !important;
  &:hover {
    color: rgb(0, 0, 0);
    transition: 0.1s ease-in;
  }
}
.restore-password-control {
  width: 50vh !important;
}

.restore-password-container {
  .btn-submit {
    background-color: #2a2d30 !important;
    &:active {
      background-color: #151618 !important;
    }
  }
}